<html>
    <head>
        <link rel="stylesheet" href="../../src/css/restaurant.css">
        <script src="../../src/js/restaurant.js" type="text/javascript"></script>
    </head>
    <body>
        <p>
                <input type="text" id="txtSearch" /> <input type="button" id="btnSearch" value="Pesquisar" />
        </p>
        <p>
            <img src="../../src/image/restaurante1.jpeg" class ="visible" id= "restaurente1"><span>restaurente1</span>
            <img src="../../src/image/restaurante2.jpeg" class ="visible" id= "restaurente2">
            <img src="../../src/image/restaurante3.jpg" class ="visible" id= "restaurente3">
        </p>
    </body>
</html>