<html>

<head>
    <link rel="stylesheet" href="../../src/css/restaurant.css">

</head>

<body>
    <p>
        <input type="text" id="txtSearch" />
        <input type="button" id="btnSearch" value="Pesquisar" />
    </p>
    <p class="restaurant">
        <img src="../../src/image/restaurante1.jpeg" class="visible" id="restaurante1">
        <span class="visible"> Nome: restaurante1</span>
    </p>
    <p class="restaurant">
        <img src="../../src/image/restaurante2.jpeg" class="visible" id="restaurante2">
        <span class="visible"> Nome: restaurante2</span>
    </p>
    <p class="restaurant">
        <img src="../../src/image/restaurante3.jpg" class="visible" id="restaurante3">
        <span class="visible"> Nome: restaurante3</span>
    </p>
    <script src="../../src/js/restaurant.js" type="text/javascript"></script>
</body>

</html>