body {
    background-color: rgb(223, 218, 215);
    padding: 5%;
}
header{
    margin-bottom: 5%;
    background-color: #f59999;
    color: #7e2a2a;
    font-family: monospace;
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
    padding: 5%;
}
#cssLogo{
    height: 30%;
}
body p{
    background-color: rgb(189, 145, 162);
    padding: 2%
}
#imageParagraph{
    background-color: #E3ADB5;
    align-items: center;
    border-left: 50%
}
svg {
    background-color: #4b4b4b;
    height: 2%;
    width: 100%
}
a::before{
    content: '['
}
a::after{
    content: ']'
}
#lorem{
    background-color: #ce7878;
}
#form{
    align-content: center;
    background-color: rgb(227, 173, 173);
}