body {
    background-color: #FEE2D1;
    padding: 5%;
}
header{
    margin-bottom: 5%;
    background-color: rgb(207, 126, 165);
    color: white;
    font-family: monospace;
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
    padding: 5%;
}
#cssLogo{
    height: 30%;
}
body p{
    background-color: rgb(204, 174, 199);
    padding: 2%
}
#imageParagraph{
    background-color: #E3ADB5;
    align-items: center;
    border-left: 50%
}
svg {
    background-color: #614342;
    height: 2%;
    width: 100%
}
a::before{
    content: '['
}
a::after{
    content: ']'
}
#lorem{
    background-color: rgb(155, 136, 158)
}