body{
    margin: 10%;
    background-color: rgb(246, 240, 230);
}
.visible{
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    display: initial;
    border: solid;
    border-color: white;
    border-width: 20px;
}

.invisible{
    display: none;
}
.invisible, .visible {
    height: 50%;
    width: 60%;
}
.restaurant{
    background-color: white;
}